*.mpf
work
transcript
*.cf
*.ghw
*.bak
*.mti
*~
*.ini
*.wlf
*.o
tb
\#*#
*.log
*.jou
*.Xil
*clockInfo*
vhdl/i2c/vunit_out/*
vhdl/tdm/vunit_out/*
vhdl/tdm/build/*
vhdl/tdm/vivado_output/*
vhdl/tdm/vivado_scripts/.Xil*
